<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wg stat</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    </head>
    <body>
        <div>
            <h1>Usage summary</h1>
            {% for key, summary in user_summary.items() -%}
            <b><a href="user/{{key}}.html"><b>{{key}}</b></a></b>
            <table>
                <tr>
                    <th>Period</th>
                    <th>Sent by server</th>
                    <th>Recieved by server</th>
                </tr>
                <tr>
                    <td>Day</td>
                    <td>{{summary['sent']['1d']}}</td>
                    <td>{{summary['rcv']['1d']}}</td>
                </tr>
                <tr>
                    <td>Week</td>
                    <td>{{summary['sent']['1w']}}</td>
                    <td>{{summary['rcv']['1w']}}</td>
                </tr>
                <tr>
                    <td>Month</td>
                    <td>{{summary['sent']['1m']}}</td>
                    <td>{{summary['rcv']['1m']}}</td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td>{{summary['sent']['1y']}}</td>
                    <td>{{summary['rcv']['1y']}}</td>
                </tr>
                <tr>
                    <td>All time</td>
                    <td>{{summary['sent']['all']}}</td>
                    <td>{{summary['rcv']['all']}}</td>
                </tr>
            </table>
            {%- endfor %}
        </div>         
    </body>
</html>